<div class="jumbotron">
<center><h1 class="display-4" style="color:red">About</h1></center>
<div style="margin-top:60px;">
<p style="color:blue;">This is a Node/Express app for jotting down ideas for future Youtube videos</p>
<p style="color:blue">Version: 1.0.0</p>
</div>