<div class="jumbotron text-center">
  <h1 class="display-3" style="color:red;">{{title}}</h1>
  <p class="lead" style="color:blue">Jot down ideas for your next YouTube videos</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add Video Idea</a>
</div>